@{
    ViewData["Title"] = "BGYS Politikası";
    Layout = "_LayoutPolicy";
}

<div class="policy-container">
    <div class="policy-bottom">
        <div class="policy-change-info">
            <p>
                Hizmet Şartlarımızı Sürekli Güncelliyoruz. Yeni Hizmet Şartlarının Yürürlüğe Girme Tarihi
                Saklıdır. 15 Kasım 2023 tarihinden sonra Huzlab'ı kullanmaya devam etmek, bu şartlara uymayı
                kabul ettiğiniz anlamına gelir ve bu şartlarla bağlı olduğunuzu kabul edersiniz.
            </p>
        </div>
        <div class="policy-content">
            <h2>Bilgi Güvenliği Yönetim Sistemi</h2>
            <em>Son Güncellenme tarihi: 30 Ocak 2024</em>
            <h4>İçindekiler</h4>
            <ol>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
            </ol>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
            <h1>Genel</h1>
            <p>
                As more fully described herein, if you, in your sole discretion and as part of your access and
                use of the Webflow Platform, wish to use of any of the additional products or services specified
                herein (each, an “Additional Product Offering”), such use is subject to certain terms and
                conditions contained in these Product Specific Terms (“Product Terms”).

                By using any Additional Product Offering, ( 1 ) you confirm that you have reviewed and agree to
                be bound by, on behalf of yourself and/or the applicable entity you use Webflow on behalf of,
                Section 1 (“General”), Section 6 (“Miscellaneous”), and the applicable Additional Product
                Offering’s terms and conditions below; and ( 2 ) you agree such terms are hereby incorporated by
                reference into either Webflow’s Terms of Service or the Master Subscription Agreement (or
                related master agreement) between you and Webflow, Inc. (“Webflow”, “we”, “us”, or “our”), as
                applicable (in either case, together with the applicable Product Terms, the “Agreement”).

                By way of example only, if you choose to use Webflow’s Localization Feature (Section 6) and no
                other Additional Product Offering, you agree to be bound by the terms and conditions of Section
                1, 5, and 6 of these Product Terms (which are incorporated by reference into the Agreement
                between you and Webflow, and the remaining Sections do not apply). For the avoidance of doubt,
                if you do not agree to Section 1 (“Agreement”), Section 6 (“General”), and/or the applicable
                Section(s) for any Additional Product Offering you wish to use, you may not use (and must
                discontinue any use of) the applicable Additional Product Offering.
            </p>
        </div>
    </div>
</div>