@model List<CategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
}
<section class="categories-section">
    <div class="main-container">
        <div>
            <div role="list" class="home-category-list category-page-list">
                @foreach (var category in Model)
                {
                <div role="listitem">
                        <a asp-action="Category" asp-controller="Categories" asp-route-id="@category.Slug" class="category-grid-item category-page-grid-item">
                        <img alt="" loading="lazy"
                             src="https://assets-global.website-files.com/65770570a2946a7c83492a9c/65782fe7dec1e4824058c1d2_post16.jpg" class="blog-category-main-image" />
                        <div class="gradient-overlay"></div>
                            <div class="category-name">@category.Name</div>
                        <img src="https://assets-global.website-files.com/6577019a915bb98abc733614/657706245d964540c2260550_readmore.png" alt="" class="blog-arrow">
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</section>