<div class="profile-footer">
    <div class="main-container">
        <div class="profile-footer-box">
            <div class="profile-footer-link" role="listbox">
                <div role="listitem" class="with-seperator">
                    <a asp-controller="Policy" asp-action="privacy" asp-area="">Gizlilik Politikası</a>
                    <div class="profile-footer-line"></div>
                </div>
                <div role="listitem" class="with-seperator">
                    <a asp-controller="Policy" asp-action="termsandconditions" asp-area="">Hüküm ve Koşullar</a>
                    <div class="profile-footer-line"></div>
                </div>
                <div role="listitem">
                    <a href="#">Yardım ve Destek</a>
                </div>
            </div>
            <div class="profile-footer-link">
                <div role="listitem">
                    <a>
                        Copyright © 2024 Berkay Huz. Tüm hakları saklıdır.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>