@model UserPasswordDto
@{
    Layout = "~/Views/Shared/_LayoutMy.cshtml";
}


<div class="profile-dashboard">
    <div class="profile-dashboard-top">
        <span class="profile-dashboard-title">Şifrenizi değiştirin</span>
        @if (TempData["SuccessMessage"] != null)
        {
            <span class="dashboard-success">@TempData["SuccessMessage"]</span>
        }
    </div>
    <div class="profile-dashboard-form-box">
        <form asp-action="ChangePassword" method="post" class="profile-dashboard-edit-profile-form" id="changePasswordForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All"></div>
            <div class="profile-dashboard-edit-profile-inputs-change-password profile-dashboard-edit-profile-inputs">
                <div class="profile-dashboard-change-password-profile-input-box profile-dashboard-edit-profile-input-box">
                    <label asp-for="CurrentPassword">
                        <span>Mevcut parola</span>
                        <input asp-for="CurrentPassword" type="password" placeholder="********">
                    </label>
                </div>
                <div class="profile-dashboard-change-password-profile-input-box profile-dashboard-edit-profile-input-box">
                    <label asp-for="NewPassword">
                        <span>Yeni parola</span>
                        <input asp-for="NewPassword" type="password" placeholder="********">
                        <span asp-validation-for="NewPassword"></span>
                    </label>
                </div>
                <div class="profile-dashboard-change-password-profile-input-box profile-dashboard-edit-profile-input-box">
                    <label>
                        <span>Parolayı onaylayın</span>
                        <input asp-for="ConfirmPassword" type="password" placeholder="********">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </label>
                </div>
                <div class="profile-dashboard-change-password-profile-input-box profile-dashboard-edit-profile-input-box">
                </div>
                <div class="profile-dashboard-change-password-profile-input-box profile-dashboard-edit-profile-input-box profile-dashboard-edit-profile-input-box-submit" id="submitBox">
                    <div class="input-void"></div>
                    <label>
                        <input type="submit" value="Parolayı güncelleyin" id="submitButton">
                    </label>
                    <div class="loader-box" style="display: none;">
                        <span class="loader"></span>
                        <span>Şifreniz değiştiriliyor.</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#changePasswordForm").submit(function (e) {
            e.preventDefault(); // Formun normal submit işlemi engellensin

            $("#submitButton").hide(); // Submit input'u gizlensin
            $(".loader-box").show(); // Loader gösterilsin

            // 2 saniye bekleyip şifre değiştirme işlemi gerçekleştirilsin
            setTimeout(function () {
                $("#changePasswordForm")[0].submit();
            }, 2000);
        });
    });
</script>